.nei-tou {
    margin-top: 52px;
}

.shangpin-box {
    padding: 15px;
    width: 16.6%;
}

.shangpin {
    background: #fff;
    border: 1px solid transparent;
}

.shangpin:hover{
    border: 1px solid #666;
}

.shangpin a img {
    width: 100%;
}

.shangpin-text {
    padding: 20px;
}

.info {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    width: 105%;
    overflow: hidden;
    color: #666;
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
    display: flex;
}

.price b {
    margin-right: 20px;
}

.price p {
    display: inline-block;
}

.price i {
    font-size: 15px;
    margin-right: 5px;
}

.price span {
    position: relative;
    right: -80px;
}

.content-down{
    display: flex;
    flex-wrap: wrap;
}